<style>
*{
  padding:0; margin:0;
}
body
 .titulo{
    color: #72705B;
    font-family: monospace, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;    
    margin-top: 30px;
    margin-bottom: 50px;
}
.formulario{
    width: 35%;
    height: auto;
    border-radius: 4px;
    border:2.5px solid #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.formulario p{
    width: 90%;
    height: auto;
    margin-bottom: 20px;
}

</style>
<div class="small-container center-block">
<center>
 <h1 class="titulo">Edit Product</h1>
<div class="formulario">
    <%= render 'form', product: @product %>
</div>
<%= link_to 'Show', @product %><i class="fas fa-eye"></i> |
<%= link_to 'Back', products_path %><i class="fas fa-sign-out-alt"></i>
</center>
</div>
